[Unit]
Description=Path MTU Discovery Black Hole Workaround
Documentation=https://github.com/PtaxLaine/pmtud-bh-workaround
After=network-online.target

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1h
Unit=pmtud-bh-workaround@.service

[Install]
WantedBy=network-online.target timers.target
