[Unit]
Description=Path MTU Discovery Black Hole Workaround
Documentation=https://github.com/PtaxLaine/pmtud-bh-workaround
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'mapfile -d ':' -t ARGV < <(echo "%i") && /usr/bin/bash /usr/bin/pmtud-bh-workaround $${ARGV[@]} --service'
Restart=always
RestartSec=24

[Install]
WantedBy=network-online.target
