[Unit]
Description=Path MTU Discovery Black Hole Workaround
Documentation=https://github.com/PtaxLaine/pmtud-bh-workaround
After=network-online.target

[Service]
Type=simple
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/bin/bash /opt/pmtud-bh-workaround.sh $SCRIPT_ARGS
Restart=on-failure

[Install]
WantedBy=network-online.target
